/* CSS for home page */
.home-main {
    background-color: #d5dade;
    font-family: "Nunito", sans-serif;
}

.custom-container {
    max-width: 800px; /* Set the maximum width */
    width: 50%; /* Adjust the width as needed */
}

.navbar {
    background-color: #206194;
    height: 50px;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

.row.block {
    display: flex; /* Ensure the row behaves as a flex container */
    justify-content: space-between; /* Space out the blocks */
    align-items: stretch; /* Stretch the blocks to match height */
    background-color: #ffffff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 3px 10px 12px rgba(0, 0, 0, 0.1);
}

.heading {
    font-family: "DM Serif Text", serif;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    /* border: 2px solid; */
    text-align: center;
    padding: 5px;
}

/* --------------- */
.btn-icon {
    border: none;
    background: none;
    padding: 0;
    font-size: 30px; /* icon size */
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-icon:hover {
    background-color: #0000003f; /* Black with 65% opacity */
    border-radius: 50%; /* Makes the background circular */
}


#home-quote-search-btn {
    border: none;
    background-color: transparent;
    font-size: 25px; /* Adjust the icon size */
    cursor: pointer;
}

/* ----------------- */

