/* Body styles */
.body {
    background-color: #d4f0fb;
    background-image: linear-gradient(to bottom right, rgb(163, 163, 255), rgb(205, 237, 168), rgb(248, 241, 159));
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Form container */
.formbox {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 3px 10px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

/* Form elements */
.form-label {
    text-align: left;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-bottom-style: solid;
    font-size: 16px;
}

.btn-primary {
    width: 100%;
    background-color: #0078d4;
    border-color: #0078d4;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    color: white;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #005a9e;
    border-color: #005a9e;
}

.link-opacity-100-hover {
    color: #0078d4;
    text-decoration: none;
}

.link-opacity-100-hover:hover {
    text-decoration: underline;
}

#result {
    color: rgb(254, 53, 53);
}

/* CSS for home page */

.container-fluid {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #206194;
    height: 50px;
    width: 100%;
    margin: 0;
}

.block {
    background-color: #ededed;
    width: 100%;
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;

    
    /* Flexbox properties */
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center the text content */
}

.greeting-block{
    background-color: #313030;
    height: 400px;
}










